html {
  background: black;
}

body {
  margin: 0 !important;
  padding: 0;
}

main {
  min-height: 100vh;
}

span.rsjv-expander {
  color: #888;
}

span.rsjv-expander:hover {
  cursor: pointer;
}

span.rsjv-value {
  color: #3d94bf;
  overflow-wrap: anywhere;
}

.json-viewer {
  max-height: 50em;
  overflow-y: auto;
}

.json-viewer ul {
  padding-left: 1em;
}

.code-block {
  position: relative;

  & select {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}

.ProseMirror {
  min-height: 60vh;
}

.bn-editor {
  padding-inline: 30px;
}

.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  & pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    & code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}

.content-nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: env(safe-area-inset-bottom);
  height: 4rem;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1, oklch(var(--b1)))/var(--tw-bg-opacity);
  color: currentColor;
}

/*.btm-nav > *:not(.active) {*/
/*  padding-top: 0.125rem;*/
/*}*/

/*.btm-nav > *:where(.active) {*/
/*  border-top-width: 2px;*/
/*  --tw-bg-opacity: 1;*/
/*  background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));*/
/*}*/

/*.btm-nav > *:where(.\!active) {*/
/*  border-top-width: 2px !important;*/
/*  --tw-bg-opacity: 1 !important;*/
/*  background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity))) !important;*/
/*}*/

/*.btm-nav > *.disabled,*/
/*.btm-nav > *[disabled] {*/
/*  pointer-events: none;*/
/*  --tw-border-opacity: 0;*/
/*  background-color: var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));*/
/*  --tw-bg-opacity: 0.1;*/
/*  color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));*/
/*  --tw-text-opacity: 0.2;*/
/*}*/

/*.btm-nav > *.\!disabled {*/
/*  pointer-events: none !important;*/
/*  --tw-border-opacity: 0 !important;*/
/*  background-color: var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity))) !important;*/
/*  --tw-bg-opacity: 0.1 !important;*/
/*  color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity))) !important;*/
/*  --tw-text-opacity: 0.2 !important;*/
/*}*/

/*.btm-nav > * .label {*/
/*  font-size: 1rem;*/
/*  line-height: 1.5rem;*/
/*}*/

/*.btm-nav > * .\!label {*/
/*  font-size: 1rem !important;*/
/*  line-height: 1.5rem !important;*/
/*}*/

/*.btn:active:hover,*/
/*.btn:active:focus {*/
/*  animation: button-pop 0s ease-out;*/
/*  transform: scale(var(--btn-focus-scale, 0.97));*/
/*}*/