@tailwind base;

.markdown h1 {
    @apply text-2xl space-y-4;
}
.markdown h2 {
    @apply text-xl space-y-4;
}
.markdown h3 {
    @apply text-lg space-y-4;
}
.markdown a {
    @apply text-blue-600 underline;
}

.tiptap h1 {
    @apply text-2xl space-y-4;
}
.tiptap h2 {
    @apply text-xl space-y-4;
}
.tiptap h3 {
    @apply text-lg space-y-4;
}
.tiptap a {
    @apply text-blue-600 underline;
}

.command-palette-content {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin: 0;
    line-height: inherit;
}

@tailwind components;
@tailwind utilities;